@page
@model MilkyRazor.Pages.Categories.IndexModel

<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h1>Category List</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Categories/Create" class="btn btn-primary"> <i class="bi bi-plus-square-fill"></i> Create New Category</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Categories.Count > 0)
        {
            foreach (var item in Model.Categories.OrderBy(x => x.DisplayOrder))
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.DisplayOrder</td>
                    <td>
                        <a asp-page="/Categories/Edit"  asp-route-id ="@item.Id" class="text-primary"><i class="bi bi-pencil-square"></i></a>
                        <a asp-page="/Categories/Delete"  class=" text-danger" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>